*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    
}
.background{
    background: hsla(197, 100%, 63%, 1);
  
  background: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  background: -moz-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  background: -webkit-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .background>h1{
    font-size: 2rem;
  }
  .wrapper{
    background: hsla(197, 100%, 63%, 1);
  
  background: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  background: -moz-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
  
  background: -webkit-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 25%, hsla(294, 100%, 55%, 1) 83%);
    height: 15rem;
  width: 20rem;

  margin-top:1rem;
  border-radius: 1rem;
  box-shadow: 1px 10px 40px rgba(0, 0, 0, 0.363);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .grade{
    padding: .4rem .8rem;
    height: 2.5rem;
    width: 15rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    
  }
  .calcBtn{
    margin-top: .5rem;
    padding: .5rem .8rem;
    height: 2.6rem;
    font-size: 1.1rem;
    background: transparent;
    color: #fff;
    border:2px solid  #fff;
    cursor: pointer;
    transition: .5s;
  }

  .calcBtn:hover
  {
    background: #fff;
    color: #ff00dd;
    border-radius: .5rem;
    transition: .5s;
  }
































